body {
  background-color: LightCyan;
  font-family: 'Archivo Black', 'Impact', sans-serif;
}

.container{
  background-color: DarkTurquoise;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
}

header {
  background-color: LightCyan;
  color: DarkTurquoise;
  text-align: center;
  padding: 5px;
  margin-bottom: 8px;
  font-family: 'Philosopher', 'Brush Script MT', cursive;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 15px;
}

ul {
  border: none;
}

li {
  padding: 2px;
  border: none;
}

nav {
  width: 20%;
  float: left;
}

a {
  text-decoration: none;
  color: LightCyan;  
}

img {
  border: inset;
  width: 140px;
}

h1 {
  color: DarkTurquoise;
  font-family: 'Philosopher', 'Brush Script MT', cursive;
}

h2 {
  color: LightCyan;
  font-family: 'Philosopher', 'Brush Script MT', cursive;
}

h3 {
  color: MediumBlue;
  font-size: 75%;
}

footer {
  clear: both;
  padding: 10px;
  background-color: LightCyan;
  text-align: center;
  font-family: 'Philosopher', 'Brush Script MT', cursive;
}


table, th, td {
  border: 2px solid MediumBlue;
  padding: 5px;
}

thead {
  color: DarkTurquoise;
}

table {
  background-color: MidnightBlue;
  width: 75%;
  float: right;
  margin: 5px;
}

tbody {
  color: LightCyan;
}

tfoot {
  font-size: 75%;
  color: LightCyan;
  background-color: MidnightBlue;
}

caption {
  background-color: MidnightBlue;
  font-family: 'Archivo Black', 'Impact', sans-serif;
  font-weight: bold;
  font-size: 120%;
  color: LightCyan;
  border: 2px solid MediumBlue;
  padding: 5px;
}

main {
  margin-left:20%;
}

fieldset {
  border: 2px solid LightCyan;	
}

button {
  font-family: 'Archivo Black', 'Impact', sans-serif;
  background-color: LightCyan;
  color: DarkTurquoise;
  font-size: 1.5em;
}

legend {
  background-color: LightCyan;
  color: DarkTurquoise;
  padding: 5px;
}

.tableFooter {
  background-color: tomato;
  color: white;
  padding: 10px;
  text-align: center;
}

.shadow {
  font-size: 30px;
  text-shadow: 2px 2px 5px MidnightBlue;
}